a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1650px;
}

.banner {
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .banner {
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .banner {
    margin-bottom: 50px;
  }
}

.banner__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

.banner__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  border-radius: 0;
}

.banner__title {
  font-size: 60px;
  line-height: 1.28;
  margin-bottom: 30px;
  color: #000000;
}

@media (max-width: 1200px) {
  .banner__title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .banner__title {
    font-size: 30px;
  }
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: #666666;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6125rem 1.875rem;
  font-size: 1rem;
  line-height: 1.4375;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #666666;
  text-decoration: none;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
  box-shadow: none;
  pointer-events: none;
  cursor: none;
}

.btn_dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn_dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn_dark.disabled,
.btn_dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
