a {
	color: #000000;
	text-decoration: none;
	background-color: transparent;
 }

 img {
	max-width: 100%;
	height: auto;
 }

 

.Container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1650px;
 }
 
 .Header {
	padding: 20px 0;
 }
 
 .Header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
 }

 