a {
	color: #000000;
	text-decoration: none;
	background-color: transparent;
 }

 img {
	max-width: 100%;
	height: auto;
 }

h2 {
	font-size: 36px;
	line-height: 1.44;
	color: #000000;
 }

 @media (max-width: 1200px) {
	h2 {
	  font-size: 30px;
	}
 }
 
 @media (max-width: 768px) {
	h2 {
	  font-size: 26px;
	}
 }



.btn {
	display: inline-block;
	font-weight: 500;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.6125rem 1.875rem;
	font-size: 1rem;
	line-height: 1.4375;
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
	  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }
 
 .btn:hover {
	color: #666666;
	text-decoration: none;
 }
 
 .btn.disabled,
 .btn:disabled {
	opacity: 0.65;
	box-shadow: none;
	pointer-events: none;
	cursor: none;
 }
 
 .btn_dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
	box-shadow: none;
 }
 
 .btn_dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
 }
 
 .btn_dark.disabled,
 .btn_dark:disabled {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
 }
 
 .btn_outline_primary {
	color: #000000;
	border-color: #000000;
 }
 
 .btn_outline_primary:hover {
	color: #fff;
	background-color: #000000;
	border-color: #000000;
 }
 
 .btn_outline_primary:focus,
 .btn_outline_primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
 }
 
 .btn_outline_primary.disabled,
 .btn_outline_primary:disabled {
	color: #000000;
	background-color: transparent;
 }
 
 .container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1650px;
 }

 .category {
	margin-bottom: 100px;
 }
 
 @media (max-width: 1200px) {
	.category {
	  margin-bottom: 70px;
	}
 }
 
 @media (max-width: 768px) {
	.category {
	  margin-bottom: 50px;
	}
 }
 
 .category__title {
	text-align: center;
	margin-bottom: 60px;
 }
 
 @media (max-width: 1200px) {
	.category__title {
	  margin-bottom: 40px;
	}
 }
 
 @media (max-width: 768px) {
	.category__title {
	  margin-bottom: 20px;
	}
 }
 
 .category__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
 }
 
 @media (max-width: 1200px) {
	.category__grid {
	  grid-template-columns: repeat(2, 1fr);
	}
 }
 
 @media (max-width: 768px) {
	.category__grid {
	  grid-template-columns: repeat(1, 1fr);
	}
 }
 
 .category__item {
	position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
 }
 
 .category__overlay {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 30px;
 }
 