a {
	color: #000000;
	text-decoration: none;
	background-color: transparent;
 }
 
 img {
	max-width: 100%;
	height: auto;
 }
 
 h2 {
	font-size: 36px;
	line-height: 1.44;
	color: #000000;
 }

 .container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1650px;
 }


 .btn {
	display: inline-block;
	font-weight: 500;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.6125rem 1.875rem;
	font-size: 1rem;
	line-height: 1.4375;
	border-radius: 5px;
	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
	  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 }
 
 .btn:hover {
	color: #666666;
	text-decoration: none;
 }
 
 .btn.disabled,
 .btn:disabled {
	opacity: 0.65;
	box-shadow: none;
	pointer-events: none;
	cursor: none;
 }

 .btn_outline_primary {
	color: #000000;
	border-color: #000000;
 }
 
 .btn_outline_primary:hover {
	color: #fff;
	background-color: #000000;
	border-color: #000000;
 }
 
 .btn_outline_primary:focus,
 .btn_outline_primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
 }
 
 .btn_outline_primary.disabled,
 .btn_outline_primary:disabled {
	color: #000000;
	background-color: transparent;
 }

.products {
	margin-bottom: 100px;
 }
 
 @media (max-width: 1200px) {
	.products {
	  margin-bottom: 70px;
	}
 }
 
 @media (max-width: 768px) {
	.products {
	  margin-bottom: 50px;
	}
 }
 
 .products__title {
	text-align: center;
	margin-bottom: 60px;
 }
 
 @media (max-width: 1200px) {
	.products__title {
	  margin-bottom: 40px;
	}
 }
 
 @media (max-width: 768px) {
	.products__title {
	  margin-bottom: 20px;
	}
 }
 
 .products__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	margin-bottom: 50px;
 }
 
 @media (max-width: 1200px) {
	.products__grid {
	  grid-template-columns: repeat(3, 1fr);
	}
 }
 
 @media (max-width: 768px) {
	.products__grid {
	  grid-template-columns: repeat(2, 1fr);
	}
 }
 
 .products__bottom {
	text-align: center;
 }
 
 .products img {
	display: block;
	width: 100%;
 }
 
 .product {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
 }
 
 .product__body {
	padding-top: 16px;
 }
 
 .product__body h3 {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	margin-bottom: 5px;
 }
 
 @media (max-width: 768px) {
	.product__body h3 {
	  font-size: 16px;
	}
 }
 
 .products__image {
	position: relative;
 }
 
 .products__image_block {
	display: block;
 }
 
 .add_to_wishlist {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
 }
 
 .add_to_wishlist:hover {
	background-color: #000;
 }
 
 .add_to_wishlist svg {
	width: 24px;
	height: 24px;
 }
 
 .add_to_wishlist:hover svg {
	color: #fff;
 }